<%= link_to 'Reset search', dashboard_path if params[:query].present? %>
<%= form_with url: dashboard_path, method: :get do |form| %>
  <%= form.search_field :query, value: params[:query], autofocus: true, placeholder: "Search anything" %>
  <%= form.submit "Search" %>
<% end %>

<%#= @search_results %>
<% DashboardController::SEARCHABLE_MODEL_ATTRIBUTES.each do |model_name, searchable_fields| %>
  <%#= model_name %>
  <%#= searchable_fields %>
  <% results = @search_results[model_name] %>
  <div>
    <h2>
      <%= model_name %>
      <%= results.count %>
    </h2>
    <% results.each do |result| %>
      <%# searchable_fields.each do |field| %>
        <%#= highlight result[field], params[:query] %>
      <%# end %>
      <%#= result.id %>
      <%= render "#{model_name.downcase.pluralize}/#{model_name.downcase}", model_name.downcase.to_sym => result %>
    <% end %>
  </div>
<% end %>
